@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9875 0.0026 106.4475);
  --foreground: oklch(0.1822 0 0);
  --card: oklch(0.9911 0 0);
  --card-foreground: oklch(0.2178 0 0);
  --popover: oklch(0.9911 0 0);
  --popover-foreground: oklch(0.2435 0 0);
  --primary: oklch(0.7746 0.084 213.4222);
  --primary-foreground: oklch(0.1822 0 0);
  --secondary: oklch(0.8637 0.1776 98.2998);
  --secondary-foreground: oklch(0.3108 0.0033 164.8618);
  --muted: oklch(0.9774 0.0042 236.4961);
  --muted-foreground: oklch(0.5131 0.0031 106.5083);
  --accent: oklch(0.9572 0.007 219.5607);
  --accent-foreground: oklch(0.2186 0.0039 286.076);
  --destructive: oklch(0.5487 0.1908 32.8115);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.8872 0.0154 228.9845);
  --input: oklch(0.9567 0.0085 225.0826);
  --ring: oklch(0.8726 0.1793 98.4386);
  --chart-1: oklch(0.8589 0.1949 128.7512);
  --chart-2: oklch(0.7909 0.1543 85.6644);
  --chart-3: oklch(0.5299 0.0849 208.8833);
  --chart-4: oklch(0.8604 0.1857 118.8824);
  --chart-5: oklch(0.5668 0.1947 32.2599);
  --sidebar: oklch(0.9881 0 0);
  --sidebar-foreground: oklch(0.2645 0 0);
  --sidebar-primary: oklch(0.325 0 0);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.8726 0.1793 98.4386);
  --sidebar-accent-foreground: oklch(0.325 0 0);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.7731 0 0);
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 10.1961% / 0.1), 0 1px 2px -1px
    hsl(0 0% 10.1961% / 0.1);
  --shadow:
    0 1px 3px 0px hsl(0 0% 10.1961% / 0.1), 0 1px 2px -1px
    hsl(0 0% 10.1961% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 10.1961% / 0.1), 0 2px 4px -1px
    hsl(0 0% 10.1961% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 10.1961% / 0.1), 0 4px 6px -1px
    hsl(0 0% 10.1961% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 10.1961% / 0.1), 0 8px 10px -1px
    hsl(0 0% 10.1961% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.086 0.0056 285.1729);
  --foreground: oklch(0.9491 0 0);
  --card: oklch(0.133 0.0021 196.9098);
  --card-foreground: oklch(0.9491 0 0);
  --popover: oklch(0.1629 0.0041 106.8466);
  --popover-foreground: oklch(0.9491 0 0);
  --primary: oklch(0.7746 0.084 213.4222);
  --primary-foreground: oklch(0.1629 0.0041 106.8466);
  --secondary: oklch(0.8637 0.1776 98.2998);
  --secondary-foreground: oklch(0.2168 0.0144 196.138);
  --muted: oklch(0.2388 0.0105 229.4122);
  --muted-foreground: oklch(0.6993 0 0);
  --accent: oklch(0.2208 0.0091 208.7514);
  --accent-foreground: oklch(0.9491 0 0);
  --destructive: oklch(0.5487 0.1908 32.8115);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.2351 0.0115 91.7467);
  --input: oklch(0.4017 0 0);
  --ring: oklch(0.82 0.1661 89.1598);
  --chart-1: oklch(0.9676 0.0829 125.363);
  --chart-2: oklch(0.7909 0.1543 85.6644);
  --chart-3: oklch(0.5299 0.0849 208.8833);
  --chart-4: oklch(0.8604 0.1857 118.8824);
  --chart-5: oklch(0.5668 0.1947 32.2599);
  --sidebar: oklch(0.1629 0.0041 106.8466);
  --sidebar-foreground: oklch(0.9491 0 0);
  --sidebar-primary: oklch(0.7704 0.1562 83.9081);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.2739 0.0055 286.0326);
  --sidebar-accent-foreground: oklch(0.9674 0.0013 286.3752);
  --sidebar-border: oklch(0.2739 0.0055 286.0326);
  --sidebar-ring: oklch(0.8711 0.0055 286.286);
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 10.1961% / 0.1), 0 1px 2px -1px
    hsl(0 0% 10.1961% / 0.1);
  --shadow:
    0 1px 3px 0px hsl(0 0% 10.1961% / 0.1), 0 1px 2px -1px
    hsl(0 0% 10.1961% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 10.1961% / 0.1), 0 2px 4px -1px
    hsl(0 0% 10.1961% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 10.1961% / 0.1), 0 4px 6px -1px
    hsl(0 0% 10.1961% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 10.1961% / 0.1), 0 8px 10px -1px
    hsl(0 0% 10.1961% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --breakpoint-3xl: 120rem; /* 1920px */
  --breakpoint-4xl: 160rem; /* 2560px */

  --font-display: var(--display-family);
  --font-text: var(--text-family);
  --font-mono: var(--code-family);

  --font-display-weight: 400;
  --font-text-weight: 400;

  --text-xs: clamp(0.65rem, -0.02vi + 0.65rem, 0.64rem);
  --text-sm: clamp(0.78rem, 0.03vi + 0.78rem, 0.8rem);
  --text-base: clamp(0.94rem, 0.1vi + 0.92rem, 1rem);
  --text-md: clamp(1.13rem, 0.21vi + 1.08rem, 1.25rem);
  --text-lg: clamp(1.35rem, 0.35vi + 1.28rem, 1.56rem);
  --text-xl: clamp(1.62rem, 0.56vi + 1.51rem, 1.95rem);
  --text-2xl: clamp(1.94rem, 0.83vi + 1.78rem, 2.44rem);
  --text-3xl: clamp(2.33rem, 1.2vi + 2.09rem, 3.05rem);
  --text-4xl: clamp(2.8rem, 1.69vi + 2.46rem, 3.81rem);
  --text-5xl: clamp(3.36rem, 2.35vi + 2.89rem, 4.77rem);
  --text-6xl: clamp(4.03rem, 3.22vi + 3.39rem, 5.96rem);
  --text-7xl: clamp(4.84rem, 4.36vi + 3.97rem, 7.45rem);
}

@utility container {
  margin-inline: auto;
}

@layer base {
  :root {
    interpolate-size: allow-keywords;
  }
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--color-accent) transparent;
  }
  * {
    @apply border-border outline-ring/50;

    @media (prefers-reduced-motion: reduce) {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  body {
    @apply bg-background text-foreground font-text;
    display: flex;
    flex-direction: column;
    min-block-size: 100dvh;
    min-inline-size: 320px;
    inline-size: 100%;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
  }
  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
  h6 {
    @apply text-lg;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  a[href]:not([href^="#"]) {
    color: var(--color-base-400);
    &:is(:hover, :focus-visible) {
      color: var(--color-primary);
    }
    &:is(:active) {
      color: var(--color-primary-200);
    }
    &:is([target="_blank"])::after {
      content: "↗";
      font-family: var(--font-serif);
      font-size: 0.8rem;
      margin-left: 0.15rem;
    }
  }
  main {
    flex-grow: 1;
  }
}

@layer utilities {
  .loading-fade {
    @apply starting:opacity-0 opacity-100 transition-opacity duration-200;
  }
  .scroll-style {
    scrollbar-width: thin;
    scrollbar-color: var(--color-accent) transparent;
  }
}

@keyframes fade {
  from {
    filter: blur(3px);
    opacity: 0;
  }
  to {
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide {
  from {
    translate: var(--slide-offset);
  }
  to {
    translate: 0;
  }
}

::view-transition-new(.animate-slide-from-left) {
  --slide-offset: -60px;
  animation:
    var(--duration-enter) ease-out var(--duration-exit) both fade,
    var(--duration-move) ease-in-out both slide;
}
::view-transition-old(.animate-slide-to-right) {
  --slide-offset: 60px;
  animation:
    var(--duration-exit) ease-in both fade reverse,
    var(--duration-move) ease-in-out both slide reverse;
}

::view-transition-new(.animate-slide-from-right) {
  --slide-offset: 60px;
  animation:
    var(--duration-enter) ease-out var(--duration-exit) both fade,
    var(--duration-move) ease-in-out both slide;
}

::view-transition-old(.animate-slide-to-left) {
  --slide-offset: -60px;
  animation:
    var(--duration-exit) ease-in both fade reverse,
    var(--duration-move) ease-in-out both slide reverse;
}

::view-transition-group(.animate-morph) {
  animation-duration: var(--duration-move);
}

/* 
 * Using view-transition-image-pair and not view-transition-group to preserve
 * the default animation which includes automatic position and scale morphing
 */
::view-transition-image-pair(.animate-morph) {
  animation-name: via-blur;
}

/* 
 * Blur animation for view transitions with shared elements. 
 * Fast-moving elements can be visually jarring as the eye tries
 * to track them. This creates a poor man's motion blur we can
 * use to make these transitions smoother.
 */
@keyframes via-blur {
  30% {
    filter: blur(3px);
  }
}
