@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --base-50: oklch(0.9883 0.0019 258.27);
  --base-100: oklch(0.9717 0.0038 259.34);
  --base-200: oklch(0.9321 0.0076 259.94);
  --base-300: oklch(0.8715 0.0114 261.25);
  --base-400: oklch(0.7056 0.0171 264.11);
  --base-500: oklch(0.5548 0.0227 264.75);
  --base-600: oklch(0.4465 0.0218 264.54);
  --base-700: oklch(0.3722 0.0199 264.57);
  --base-800: oklch(0.2561 0.018 266.26);
  --base-900: oklch(0.2081 0.0156 268.02);
  --base-950: oklch(0.1291 0.0142 268.92);
  --base-1000: oklch(0.0781 0.0133 269.19);

  --primary-50: oklch(0.9866 0.0288 120.05);
  --primary-100: oklch(0.9676 0.0628 121.5);
  --primary-200: oklch(0.9384 0.1189 123.4);
  --primary-300: oklch(0.8719 0.1829 125.59);
  --primary-400: oklch(0.8416 0.2214 127.63);
  --primary-500: oklch(0.7692 0.2165 129.47);
  --primary-600: oklch(0.6495 0.1859 130.24);
  --primary-700: oklch(0.5331 0.1462 130.1);
  --primary-800: oklch(0.4542 0.1157 129.41);
  --primary-900: oklch(0.406 0.0943 129.43);
  --primary-950: oklch(0.2748 0.0672 130.42);
  --primary-1000: oklch(0.1896 0.0494 131.02);

  --secondary-50: oklch(0.9847 0.0156 203.57);
  --secondary-100: oklch(0.9566 0.0366 205.91);
  --secondary-200: oklch(0.9166 0.0658 206.99);
  --secondary-300: oklch(0.8628 0.1057 208.83);
  --secondary-400: oklch(0.7862 0.1298 213.13);
  --secondary-500: oklch(0.713 0.1219 216.89);
  --secondary-600: oklch(0.6075 0.1079 223.25);
  --secondary-700: oklch(0.5051 0.0901 224.61);
  --secondary-800: oklch(0.4495 0.073 225.53);
  --secondary-900: oklch(0.3976 0.0601 228.41);
  --secondary-950: oklch(0.3015 0.0477 230.71);
  --secondary-1000: oklch(0.2393 0.0397 232.21);

  --background: var(--color-white);
  --foreground: var(--base-800);
  --card: var(--color-white);
  --card-foreground: var(--base-800);
  --popover: var(--color-white);
  --popover-foreground: var(--base-800);
  --primary: var(--primary-300);
  --primary-foreground: var(--color-black);
  --secondary: var(--secondary-700);
  --secondary-foreground: var(--color-white);
  --muted: var(--base-50);
  --muted-foreground: var(--base-600);
  --accent: var(--base-50);
  --accent-foreground: var(--base-800);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--base-200);
  --input: var(--base-300);
  --ring: var(--primary-300);
  --chart-1: var(--primary-300);
  --chart-2: var(--secondary-700);
  --chart-3: var(--primary-300);
  --chart-4: var(--secondary-300);
  --chart-5: var(--primary-100);
  --radius: 0.5rem;
  --sidebar: var(--base-100);
  --sidebar-foreground: var(--base-800);
  --sidebar-primary: var(--primary-300);
  --sidebar-primary-foreground: var(--color-black);
  --sidebar-accent: var(--base-200);
  --sidebar-accent-foreground: var(--base-800);
  --sidebar-border: var(--base-200);
  --sidebar-ring: var(--primary-300);
}

.dark {
  --background: var(--base-950);
  --foreground: var(--base-200);
  --card: var(--base-950);
  --card-foreground: var(--base-200);
  --popover: var(--base-950);
  --popover-foreground: var(--base-200);
  --primary: var(--primary-300);
  --primary-foreground: var(--color-black);
  --secondary: var(--secondary-700);
  --secondary-foreground: var(--color-white);
  --muted: var(--base-900);
  --muted-foreground: var(--base-400);
  --accent: var(--base-900);
  --accent-foreground: var(--base-200);
  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--base-800);
  --input: var(--base-700);
  --ring: var(--primary-300);
  --chart-1: var(--primary-300);
  --chart-2: var(--secondary-700);
  --chart-3: var(--primary-300);
  --chart-4: var(--secondary-300);
  --chart-5: var(--primary-100);
  --sidebar: var(--base-900);
  --sidebar-foreground: var(--base-200);
  --sidebar-primary: var(--primary-300);
  --sidebar-primary-foreground: var(--color-black);
  --sidebar-accent: var(--base-800);
  --sidebar-accent-foreground: var(--base-200);
  --sidebar-border: var(--base-800);
  --sidebar-ring: var(--primary-300);
}

@theme inline {
  --color-base-50: var(--base-50);
  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-400: var(--base-400);
  --color-base-500: var(--base-500);
  --color-base-600: var(--base-600);
  --color-base-700: var(--base-700);
  --color-base-800: var(--base-800);
  --color-base-900: var(--base-900);
  --color-base-950: var(--base-950);
  --color-base-1000: var(--base-1000);

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);
  --color-primary-1000: var(--primary-1000);

  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-950: var(--secondary-950);
  --color-secondary-1000: var(--secondary-1000);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --breakpoint-3xl: 120rem; /* 1920px */
  --breakpoint-4xl: 160rem; /* 2560px */

  --font-display: var(--display-family);
  --font-text: var(--text-family);
  --font-mono: var(--code-family);

  --font-display-weight: 400;
  --font-text-weight: 400;

  --text-xs: clamp(0.65rem, -0.02vi + 0.65rem, 0.64rem);
  --text-sm: clamp(0.78rem, 0.03vi + 0.78rem, 0.8rem);
  --text-base: clamp(0.94rem, 0.1vi + 0.92rem, 1rem);
  --text-md: clamp(1.13rem, 0.21vi + 1.08rem, 1.25rem);
  --text-lg: clamp(1.35rem, 0.35vi + 1.28rem, 1.56rem);
  --text-xl: clamp(1.62rem, 0.56vi + 1.51rem, 1.95rem);
  --text-2xl: clamp(1.94rem, 0.83vi + 1.78rem, 2.44rem);
  --text-3xl: clamp(2.33rem, 1.2vi + 2.09rem, 3.05rem);
  --text-4xl: clamp(2.8rem, 1.69vi + 2.46rem, 3.81rem);
  --text-5xl: clamp(3.36rem, 2.35vi + 2.89rem, 4.77rem);
  --text-6xl: clamp(4.03rem, 3.22vi + 3.39rem, 5.96rem);
  --text-7xl: clamp(4.84rem, 4.36vi + 3.97rem, 7.45rem);
}

@utility font-display {
  font-weight: var(--font-display-weight, 400);
}

@utility font-text {
  font-weight: var(--font-text-weight, 400);
}

@utility container {
  margin-inline: auto;
}

@layer base {
  :root {
    interpolate-size: allow-keywords;
  }
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  * {
    @apply border-border outline-ring/50;

    @media (prefers-reduced-motion: reduce) {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  body {
    @apply bg-background text-foreground font-text;
    display: flex;
    flex-direction: column;
    min-block-size: 100dvh;
    min-inline-size: 320px;
    inline-size: 100%;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
  }
  h1 {
    @apply text-7xl;
  }
  h2 {
    @apply text-5xl;
  }
  h3 {
    @apply text-4xl;
  }
  h4 {
    @apply text-3xl;
  }
  h5 {
    @apply text-2xl;
  }
  h6 {
    @apply text-xl;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  a[href]:not([href^="#"]) {
    color: var(--color-base-400);
    &:is(:hover, :focus-visible) {
      color: var(--color-primary);
    }
    &:is(:active) {
      color: var(--color-primary-200);
    }
    &:is([target="_blank"])::after {
      content: "↗";
      font-family: var(--font-serif);
      font-size: 0.8rem;
      margin-left: 0.15rem;
    }
  }
  main {
    flex-grow: 1;
  }
}
